.github-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center vertically */
  height: 100vh; /* Make container fill the entire viewport height */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px; /* Add some spacing between form and message */
}

input[type="text"] {
  padding: 18px;
  width: 20rem;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

button {
  padding: 10px 16px;
  width: 10rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.response-message {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
